<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>iLex Deployments</title>
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">PALO IT iLex</h5>
  </div>

  <div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Deployment</h1>
    <p class="lead">We Can automatically deploy the frontend
      and see the previous deployments details.
    </p>
    <p class="lead">
      <a href="auth/github" class="btn btn-lg btn-secondary">Let's deploy</a>
    </p>
  </div>

  <!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Deployment</h1>
      <p class="lead">We Can automatically deploy the frontend
        and see the previous deployments details.
      </p>
      <p class="lead">
        <a href="auth/github" class="btn btn-lg btn-secondary">Let's deploy</a>
      </p>
    </main>
  
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>copyright by <a href="https://palo-it.com/">Palo IT</a>
    </footer>
  </div> -->
</body>

</html>